services:
  nginx:
    build: ./requirement/nginx
    container_name: nginx
    ports:
      - "443:443"
      - "80:80"
    restart: always
    volumes:
      - wp_files:/var/www/html
    depends_on:
    - wordpress
    networks:
      - inception

  wordpress:
    build: ./requirement/wordpress
    container_name: wordpress
    restart: always
    volumes:
      - wp_files:/var/www/html
    env_file:
      - .env
    depends_on:
      - mariadb
    networks:
      - inception

  mariadb:
    build: ./requirement/mariadb/
    container_name: mariadb
    restart: always
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception

volumes:
  wp_files:
    driver: local
    driver_opts:
      type: none
      device: /home/tnolent/data/wp_files
      o: bind

  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/tnolent/data/mariadb_data
      o: bind

networks:
  inception:
    driver: bridge